body {
  background-color: rgb(249, 177, 100);
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
header {
  color: red;
}

.App {
  text-align: center;
}

img {
  width: 10rem;
}

.nav-bar {
  background-color: rgb(46, 206, 153);
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  margin: 8px;
}
h4 {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

h2 {
  color: blue;
}

.description-body,
.comment-count {
  border-style: solid;
  padding: 0.25rem;
  background-color: yellow;
  text-align: justify;
  margin: 0.25rem;
  height: 1.25rem;
}

hr {
  background-color: green;
  border-color: green;
  width: 100%;
  height: 0.25rem;
}
.title {
  color: rgb(79, 11, 142);
}

.topic-button,
.user,
button {
  width: 12rem;
  margin: 1rem;
  height: 3rem;
  font-size: 26px;
  color: rgb(38, 57, 19);
  border-radius: 50px;
  background-color: aquamarine;
}
.back {
  width: 8rem;
  font-size: 22px;
}
.footer-top {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
}
.topic {
  color: blueviolet;
}

button:hover {
  cursor: pointer;
}

.article-body {
  border-style: double;
  border-color: red;
  border-width: 0.5rem;
  padding: 2rem;
  font-size: 25px;
  text-align: justify;
}
label {
  padding: 0.25rem;
  margin: 0.25rem;
}

.votes {
  width: 2.5rem;
}

.comment {
  border-style: solid;
  margin: 0.25rem;
  text-align: justify;
  padding: 0.25rem;
}

.vote-position {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.articles {
  display: flex;
  flex-direction: column;
  width: auto;
  border-style: solid;
  border-color: red;
}

.new-comment-body {
  height: 3rem;
  font-size: 1.5rem;
  width: auto;
  border-radius: 25px;
  padding-left: 1rem;
}
